<div id="chatbox">
    <div id="chats">
        <div id="message" class="received">
            Other message
        </div>
        <div id="message" class="send">
            Your message
        </div>
    </div>
    <form action="">
        <input type="text" name="message" placeholder="Type message here">
        <button type="submit">Send</button>
    </form>
</div>