#chatbox {
  height: fit-content;
  width: fit-content;
  border: 2px solid grey;
  position: fixed;
  bottom: 5px;
  right: 5px;
  z-index: 20; }
  #chatbox #chats {
    width: 250px;
    height: 300px;
    overflow-y: scroll; }
  #chatbox form {
    text-align: center; }
    #chatbox form button {
      color: white;
      background-color: green; }

.send {
  width: fit-content;
  max-width: 200px;
  background-color: #62d1db;
  padding: 8px 3px;
  font-size: 1.2rem;
  float: right;
  margin: 3px 5px; }

.received {
  width: fit-content;
  max-width: 200px;
  background-color: #d16464;
  padding: 8px 3px;
  font-size: 1.2rem;
  margin: 3px 5px; }
